.inputLabel {
    transform-origin: left top;
  }
  
  .inputField:focus + .inputLabel,
  .inputField:not(:placeholder-shown) + .inputLabel {
    transform: translateY(-1.5rem) scale(0.85);
    color: #ff8f1f;
  }
  
  /* Textarea specific styling */
  .textareaField:focus + .inputLabel,
  .textareaField:not(:placeholder-shown) + .inputLabel {
    transform: translateY(-1.5rem) scale(0.85);
    color: #ff8f1f;
  }